@charset "utf-8";

* {
 box-sizing: border-box; 
}

body {
  margin: 0;
  background: rgba(162, 219, 239, 0.477);
}

body,
h1,
h2,
p {
  margin: 0;
}

/* ヘッダー */

header {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  background: rgba(34, 17, 132, 0.884);
  
  h1 {
    color:#fff;
    font-size: 48px;
  }

  p {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }
}

/* メイン */

main {
  text-align: center;

  button {
    display: block;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
  }

  button:hover {
    cursor: pointer;
    box-shadow: 0 0 8px #333;
  }
}

/* タブ */

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
  margin: 24px auto;
  width: 380px;
  text-align: left;
}

.tabs {
  height: 80px;
  background: #9ddeedcf;
  display: flex;
  gap: 20px;
  align-items: center; 
}

.tab-btn {
  width: 80px;
  background:#20c8e23d
}

.tab-btn:first-child {
  margin-left: calc(50% - 180px);
}

.tab-btn.active {
  background: #1f76f9;
  color: #fff;
}

/* カードの見た目 */
.work-card {
  width: 60%;
}

/* 中身 */
.work-content {
  display: block;
  margin-top: 8px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* 画像の見た目 */
.work-content img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}


/* 連絡先 */

.text {
  border: 2px solid #333;
  border-radius: 8px;
  padding: 10px;
  color: #fff;
  background:rgba(34, 17, 132, 0.884);
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: left;
  z-index: 1;
}

h2 {
  font-size: 20px;
}


